In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame({
    "amount": [500, 1500, 2000, 300],
    "country": ["PL", "PL", "DE", "PL"],
    "discount": [0.1, 0.2, 0.0, 0.15]
    })

In [4]:
def compute_final_price(row):
    if row["country"] == "PL" and row["amount"] > 1000:
        return row["amount"] * (1 - row["discount"])
    else:
        return row["amount"]

In [5]:
df["final_price"] = df.apply(compute_final_price, axis=1)
df

   amount country  discount  final_price
0     500      PL      0.10        500.0
1    1500      PL      0.20       1200.0
2    2000      DE      0.00       2000.0
3     300      PL      0.15        300.0

In [8]:
import numpy as np

df["final_price"] = np.where(
    (df["country"] == "PL") & (df["amount"] > 1000),
    df["amount"] * (1 - df["discount"]),
    df["amount"]
)
df

   amount country  discount  final_price
0     500      PL      0.10        500.0
1    1500      PL      0.20       1200.0
2    2000      DE      0.00       2000.0
3     300      PL      0.15        300.0